body {
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.opciones {
    display: flex;
    float: left;
    font-size: 18px;
    margin-left: 10px;
}

.btn2 {
    display: flex;
    float: right;
    font-size: 14px;
    
}

.btn2 li{
  margin: 10px;
  background-color: bisque;
  border-radius: 15px;

}

.btn2 li a:hover{
  background-color: rgb(106, 115, 176);
  text-decoration: none;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
}

.btn2 li a{
  color: #000000;
}

.IRISVAGO h1 {
  font-size: 40px;
  font-weight: bold;
  color: bisque;
  text-decoration: line-through  rgb(61, 70, 197);
  font-family: 'Times New Roman', Times, serif;
  margin-right: 10px;
  text-align: center;
}

.IRISVAGO a{
  text-decoration: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(61, 63, 61);
  text-decoration: none;
  color: #000000;
}

.dropdown li {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #dcdada;
    text-decoration: none;
    color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}