{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'trivago/rest_style.css' %}">
	<title>Agregar | Habitaciones</title>
</head>

<body>
	<!-- Menu -->
	<div class="preload">
		<div class="preload-wave"></div>
	</div>

	{% include 'trivago/index.html' %}

	<div class="image">
		<img src="https://www.zeysey.com/storage/image/project/01HT8QFH9KK6RK1J3Q6GKPD5VM.jpg" alt="Titulo">
		<h1 class="titulo2">Agregar nueva habitación</h1>
	</div>

	<form method="post" class="mb-4">
		<div class="mb-3">
			<label class="form-label">Número de habitación</label>
			<input type="text" name="num_habitacion" maxlength="3" pattern="[0-9]+" class="form-control" placeholder="Ej. 101"
				required>
		</div>

		<div class="mb-3">
			<label class="form-label">Piso</label>
			<input type="text" name="piso_habitacion" maxlength="2" pattern="[0-9]+" class="form-control" placeholder="Ej. 1" required>
		</div>

		<div class="mb-3">
			<label class="form-label">Tipo</label>
				<select name="opciones" id="opc">
					<option value="1">Sencilla</option>
					<option value="2">Duplex</option>
					<option value="3">Familiar</option>
					<option value="4">Suit</option>
				</select>
		</div>

		<a href="{% url 'habitaciones' %}" class="btn btn-secondary">Cancelar</a> 
		<button type="submit" class="btn btn-primary">Confirmar</button> 
	</form>
</html>