{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'trivago/rest_style.css' %}">
	<title>Editar | Habitaciones</title>
</head>

<body>
	<!-- Menu -->
	<div class="preload">
		<div class="preload-wave"></div>
	</div>

	{% include 'trivago/index.html' %}

	<div class="image">
		<img src="https://www.zeysey.com/storage/image/project/01HT8QFH9KK6RK1J3Q6GKPD5VM.jpg" alt="Titulo">
		<h1 class="titulo2">Editar habitación {{ habitacion.numero }}</h1>
	</div>

	<!------------------------------------------------------------------------------------------------->
	<form method="POST" class="mb-4">
		{% csrf_token %}
		<div class="mb-3">
			<label class="form-label">Número de habitación</label>
			<input type="text" name="numero" maxlength="4" pattern="[0-9]+" value="{{ habitacion.numero }}"
				class="form-control" placeholder="Ej. 101" required>
		</div>

		<div class="mb-3">
			<label class="form-label">Piso</label>
			<input type="text" name="piso" maxlength="2" pattern="[0-9]+" class="form-control"
				value="{{ habitacion.piso }}" placeholder="Ej. 1" required>
		</div>

		<div class="mb-3">
			<label class="form-label">Tipo</label>
			<select name="id_tipo">
				{% for tipo in tipos %}
				<option value="{{ tipo.id_tipo }}" {% if habitacion.id_tipo.id_tipo==tipo.id_tipo %}selected{% endif %}>
					{{ tipo.tipo }}
				</option>
				{% endfor %}
			</select>
		</div>

		<div class="mb-3">
			<label class="form-label">Estado</label>
			<select name="ocupado">
				<option value="0" {% if not habitacion.ocupado %}selected{% endif %}>Disponible</option>
				<option value="1" {% if habitacion.ocupado %}selected{% endif %}>Ocupado</option>
			</select>
		</div>

		<a href="{% url 'habitaciones' %}" class="btn btn-secondary">Cancelar</a>
		<button type="submit" class="btn btn-primary">Aplicar cambios</button>
	</form>

</html>