{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/cFzss?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'trivago/rest_style.css' %}">
	<title>Registro Habitaciones</title>
</head>

<body>
	<!-- Menu -->
	<div class="preload">
		<div class="preload-wave"></div>
	</div>

	{% include 'trivago/index.html' %}

	<div class="image">
		<img src="https://www.zeysey.com/storage/image/project/01HT8QFH9KK6RK1J3Q6GKPD5VM.jpg"
			alt="Titulo">
		<h1 class="titulo2">Habitaciones</h1>
	</div>

	<div>
		<a class="btn btn-primary" href="{% url 'agregar_habitacion' %}">Agregar Habitación</a>
	</div>

	<div>
		<table>
			<th>Numero</th>
			<th>Piso</th>
			<th>Tipo</th>
			<th>Ocupado</th>
			{% for habitacion in habitaciones %}
				<tr>
					<td>{{ habitacion.numero }}</td>
					<td>{{ habitacion.piso }}</td>
					<td>{{ habitacion.id_tipo.tipo }}</td>
					<td>{% if habitacion.ocupado %}Sí{% else %}No{% endif %}</td>
					<td>
						<a class="btn btn-primary" href="{% url 'editar_habitacion' habitacion.id_habitacion %}">Editar</a>

						<form method="POST" action="{% url 'eliminar_habitacion' habitacion.id_habitacion %}" style="display:inline;">
							{% csrf_token %}
							<button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro que deseas eliminar esta habitación?');">
								Eliminar
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

</html>