<p> Hola Andrea o quien vea este codigo :/</p>
<p> esto es solo para pROBAR. Sientete libre de borrarlo cuando vayas a implementar lo siguiente</p>

<img src="https://media1.tenor.com/m/vwA2pHu4SXYAAAAd/astolfo-femboy.gif" alt="femboy gif">
<h2>Lista de Huespedes</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for huesped in huespedes %}
        <tr>
            <td>{{ huesped.id_huesped }}</td>
            <td>{{ huesped.nombre }}</td>
            <td>{{ huesped.pr_apellido }}</td>
            <td>{{ huesped.se_apellido }}</td>
            <td>{{ huesped.edad }}</td>
            <td>{{ huesped.email }}</td>
            <td>{{ huesped.telefono }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>